.main {
  padding: 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 2rem;
}

.welcome {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.foofest {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.imageContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallaxContainer {
  text-align: center;
  margin-top: 2rem;
}

.parallax {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-top: 2rem;
}

.scroller {
  display: inline-flex;
  white-space: nowrap;
}

.scroller span {
  font-size: 2rem;
  padding: 0 1rem;
}

.otherBackground {
  background-color: rgb(184, 202, 184);
  width: 100%;
  padding: 8px;
  margin: 2rem 0;
  box-sizing: border-box;
}

.likeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  width: 24px;
  height: 24px;
  padding: 0;
}

.likeButton img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buttonLink {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonLink:hover {
  background-color: #005bb5;
}

.mainBand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 100%;
  width: var(--max-width);
}

.bandItem {
  position: relative;
  width: 200px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bandName {
  margin: 0;
  padding: 0;
  color: #50c0ac;
  text-align: center;
  font-size: 16px;
  background-color: yellow;
  padding: 0.2rem;
}

.sortBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.stages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
}

@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .bandItem {
    width: 140px;
    height: 190px; /* Adjust for mobile */
  }

  .imageContainer {
    width: 100%;
    height: 140px; /* Adjust for mobile */
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
  }

  .bandName {
    font-size: 14px;
  }
}

.imageContainerFront {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .imageContainerFront {
    width: 90%;
  }
}

.bandName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #50c0ac;
  text-align: center;
  font-size: 16px;
  border: 2px solid black;
  background-color: yellow;
  padding: 0.2rem;
}
