/* Map.module.css */

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: rgb(214, 174, 121);
  color: aliceblue;
}

.h1 {
  color: rgb(227, 232, 238);
  margin-bottom: 20px;
  margin-top: 60px;
  position: relative;
}

.h1::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 220px;
  height: 2px;
  background-color: white;
  transform: translateX(-50%);
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

.button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #211f80; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #4586a0;
}

.mapContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.spots {
  margin-top: 20px;
  text-align: center;
}

.spots h3 {
  margin-top: 20px;
  color: #211f80;
  margin-bottom: 20px;
  font-size: 1.4rem;
  position: relative;
}

.spots h3::after {
  content: "";

  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 220px;
  height: 2px;
  background-color: #211f80;
  transform: translateX(-50%);
}
.bottomP {
  margin-bottom: 60px;
}

.bottomP span {
  color: #211f80;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 14px;
  }

  .mapContainer {
    margin-top: 1rem;
    width: 400px;
    height: 340px;
  }

  .map {
    width: 100%;
    height: 100%;
  }

  .zoomOutButton {
    padding: 6px 12px;
    font-size: 14px;
  }

  .spots {
    margin-top: 4px;
  }

  .spots h3 {
    margin-top: 20px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 601px) {
  .mapContainer {
    margin-top: 1rem;
    background-color: transparent;
    width: 700px;
    height: 550px;
  }
}
