@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-glitch-img) center/cover fixed;
  --background-glitch-img: url("../../public/abstract-background-with-patterned-glass-texture.jpg");
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 1.1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
