@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(240, 245, 220) center/cover fixed;
  --background-glitch-img: url("../../public/imgs/iStock-1329410603.jpg");
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 1.1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
