.main {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181717;
}

.hero {
  background: url("/imgs/forsidebg1.jpg") center/cover no-repeat;
  background-color: rgb(7, 18, 48);
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  position: relative;
  top: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 4.6rem;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  color: #06063d;
  position: relative;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.7);
  letter-spacing: 6px;
}

.hero .h1span {
  color: purple;
  position: relative;
  z-index: 1;
}

.hero h1::before,
.hero h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 2px;
  background-color: white;
}

.hero h1::before {
  left: 0;
}

.hero h1::after {
  right: 0;
}

.header {
  margin-top: 4rem;
  padding: 2rem;
}

.welcome {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.foofest {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.apiImageContainer {
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apiImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroLogo {
  transition: transform 0.3s ease;
}

.heroLogo:hover {
  transform: scale(1.03);
}

.bandItem {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 1.4rem;
  text-align: center;
}

.bandItem h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.2rem;
  margin: 0 0 1rem 0;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bandItem p {
  margin: 0 0 1rem 0;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.imageContainer {
  width: 360px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.imageContainer img {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.parallaxContainer {
  position: relative;
  text-align: center;
  margin-top: 0rem;
}

.parallaxOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.parallax {
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  margin-top: 2rem;
}

.scroller {
  display: inline-flex;
  white-space: nowrap;
}

.scroller span {
  font-size: 2rem;
  padding: 0 1rem;
}

.otherBackground {
  background-color: rgb(7, 18, 48);
  color: #005bb5;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherBackground h2 {
  margin-top: 5rem;
  color: aliceblue;
  text-transform: uppercase;
}

.otherBackground h3 {
  margin: 2rem 0;
}

.otherP {
  color: rgb(83, 105, 165);
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
}

.otherP::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 180px;
  height: 2px;
  background-color: rgb(38, 56, 104);
  transform: translateX(-50%);
}

.bottom {
  background: url("/imgs/forsidebg2.jpg") center bottom/cover no-repeat;
  background-attachment: fixed;
  background-color: rgb(7, 18, 48);
  width: 100%;
  height: 72vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.bottom h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #181717;
  position: relative;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.bottom h1::before,
.bottom h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 2px;
  background-color: white;
}

.bottom h1::before {
  left: 0;
}

.bottom h1::after {
  right: 0;
}

.eventsContainer {
  overflow-x: auto;
  white-space: nowrap;
  max-height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.eventsContainer h5 {
  margin-bottom: 5px;
}

.eventsContainer ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.eventsContainer li {
  display: inline-block;
  margin-right: 10px;
}

.hero h1::after {
  right: 0;
}

.likeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  width: 24px;
  height: 24px;
  padding: 0;
}

.likeButton img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buttonLink {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonLink:hover {
  background-color: #005bb5;
}

.buttonLink2 {
  margin-left: 1rem;
  display: inline-block;
  padding: 10px 18px;
  margin-top: 0px;
  font-size: 16px;
  color: blue;
  background-color: rgb(228, 140, 58);
  border: blue 2px solid;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonLink2:hover {
  background-color: #b67118;
}

.bottomButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomButtons .buttonLink {
  width: 140px;
  padding: 10px 18px;
  margin-bottom: 10px;
}

.bottomButtons .buttonLink2 {
  width: 80px;
  padding: 10px 18px;
  margin-bottom: 10px;
}

.bottomButtons p {
  margin-top: 10px;
  color: white;
}

.mainBand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0px;
  width: 100%;
  max-width: 1200px;
  justify-items: center;
}

.sortBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.stages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
}

@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 3rem;
    letter-spacing: 4px;
  }

  .otherBackground {
    margin-bottom: -60px;
  }

  .otherBackground h2 {
    font-size: 2rem;
  }

  .otherP {
    font-size: 0.9rem;
  }

  .bandItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
  }

  .bandItem h3 {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .bandItem p {
    margin: 0 0 1rem 0;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .imageContainer {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bandName {
    font-size: 14px;
  }
}
