.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  color: rgb(216, 122, 34);
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 54px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.parallax .scroller.purpleText {
  color: purple;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
